<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
<nav class="navbar navbar-dark navbar-fixed-top bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SampleBlog</a>
            <a class="navbar-brand" href="#">新規投稿</a>
            <a class="navbar-brand" href="#">記事一覧</a>
            <a class="navbar-brand" href="#">ユーザー一覧</a>
            <a class="navbar-brand" href="#">管理者用画面</a>
        </div>
        <button class="btn btn-link pull-right navbar-brand" type="submit">Logout</button>
    </div>
</nav>
<br/>
<div class="container">
    <header>
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
            <div class="lh-100">
                <h4 class="mb-0 text-white lh-100">{% block header %}{% endblock %}</h4>
            </div>
        </div>
    </header>
    <div class="starter-template">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
