{% extends 'base.html' %}

{% block title %}記事詳細画面{% endblock %}

{% block header %}記事詳細画面{% endblock %}

{% block content %}
<h3>{{ article.title }}</h3>
<br/>

<p>{{ article.content }}</p>
<br/><br/>

<p>記事ID: {{article.id}}</p>
<p>投稿ユーザー: <a href="{% url 'sampleblog:user_detail' article.user.id %}">{{ article.user.username }}</a></p>
{% if article.user == request.user %}
<a href="{% url 'sampleblog:article_edit' article.id %}">
    <button type="submit" class="btn btn-primary" value="edit">edit</button>
</a>
<br/><br/>
{% endif %}
{% if messages %}
{% for result_msg in messages %}
<div class="alert alert-secondary" role="alert">
    <strong><label>{{ result_msg }}</label></strong>
</div>
{% endfor %}
{% endif %}
{% endblock %}